.card-element-widget.users()
	user-icon(ng-repeat="userId in users", user="boardUsers[userId]", remove-button="true", remove-action="removeAction({user: user})" )
	span(popup-trigger popup="popup" ng-click="popup.showPopup()")
		add-user-button
		span(ng-if="!noLegend")|+ {{ "addNewUser" | i18n }} 

	basic-popup(
		ng-if="popup.visible"
		close-button="true"
		close-button-action="popup.hidePopup()"
		kind="users-popup"
		position="bottom left"
		modal="false"
		close-outer-click="true"
		arrow="true"
		)
		add-board-user-autocomplete(users="users", callback="addAction({user: user})")