#card-detail-shadow
#card-detail
	close-button(action="unselect()")
	.card-detail-content
		.card-detail-section
			textarea.card-detail-title(editable-element-on-place, 
										textarea-content-resize,
										ng-model="card.name", 
										update="updateCard('name', value)", 
										submitOnEnter="true",
										submitOnBlur="true")
			.buttons
			
			.card-tags-container(popup-trigger popup="tagsPopup") 
				tag-mini-widget(ng-repeat="tagId in card.tags", tag="boardTags[tagId]", full="true", ng-click="tagsPopup.showPopup($event)")
				a.trigger(ng-click="tagsPopup.showPopup($event)")|+ {{ "addNewTag" | i18n }}
					basic-popup(ng-if="tagsPopup.visible"
						close-button="true"
						close-button-action="tagsPopup.hidePopup()"
						kind="users-popup"
						position="bottom left"
						modal="false"
						close-outer-click="true"
						arrow="true"
						)
						manage-tags-form(tags="boardTags", selected-tags="card.tags", update="boardsService.updateTags(tag, index)", selectable, editable, select="tagsPopup.hidePopup();cardsService.toggleTagInCard(card, index)")

		
		.card-detail-section
			.card-detail-state
				card-state-widget(state="card.state", states="boardStates" update-action="cardsService.setCardState(card, state)")

			manage-users-widget(users="card.users", board-users="boardUsers", remove-action="cardsService.removeUserFromCard(card, user)" add-action="cardsService.addUserToCard(card, user)")
			
			.card-detail-created
				.creator(ng-if="card.creator")|{{ "by" | i18n}} {{ boardUsers[card.creator].name | formatUserName }} |
				.created(ng-if="card.createdAt")|{{ card.createdAt | dateDistance }}


		.card-detail-section
			card-dates-widget(dates="card.dates")|Maxi
			card-time-ellapsed-widget(ellapsed="card.ellapsed")
			card-add-checklist-widget(card="card", update="cardActions.addChecklist()")
			card-add-attachment-widget(card="card", update="cardActions.addAttachment()")
			card-manage-relations-widget(card="card", update="cardActions.manageRelations()")



		.card-detail-description
			textarea.card-detail-description-input(editable-element-on-place, 
										textarea-content-resize,
										ng-model="card.description", 
										update="updateCard('description', value)", 
										submitOnBlur="true")
		
		.card-detail-comments
			h4|{{ "Comments" | i18n }}
			create-comment-form(card="card")
			comment-widget(ng-repeat="comment in card.comments | reverse", comment="comment", card="card")
				
		