#board-header
	h1.board-title|{{ board.name }}
	.board-users
		user-icon(ng-repeat="user in users", user="user")
		.add-user-wrapper(popup-trigger popup="usersPopup")
			add-user-button(action="usersPopup.showPopup($event)")
			basic-popup(
				ng-if="usersPopup.visible"
				close-button="true"
				close-button-action="usersPopup.hidePopup()"
				kind="users-popup"
				position="bottom left"
				modal="false"
				close-outer-click="true"
				arrow="true"
				)
				add-user-autocomplete(callback="boardsService.addUserToBoard(user)", no-list="true")

	.board-tags(popup-trigger popup="tagsPopup") 
		tag-mini-widget(ng-repeat="tag in board.tags", tag="tag", ng-click="tagsPopup.showPopup($event)")
		basic-popup(ng-if="tagsPopup.visible"
				close-button="true"
				close-button-action="tagsPopup.hidePopup()"
				kind="users-popup"
				position="bottom left"
				modal="false"
				close-outer-click="true"
				arrow="true"
			)
			manage-tags-form(tags="board.tags", update="boardsService.updateTags(tag, index, updateDB)")

	.board-views
		a.view-trigger.cards|{{ "cards" | i18n }}
		a.view-trigger.list|{{ "list" | i18n }}
		a.view-trigger.calendar|{{ "calendar" | i18n }}